---
import Image from "astro/components/Image.astro";
import Logo from "../assets/images/codewithtom-color.png";
import Hero from "../assets/images/hero.png";

const { url } = Astro.request;
function isActive(path: string) {
  const currentUrl = new URL(url, Astro.site || "http://localhost");
  if (path === "/") {
    return currentUrl.pathname === "/";
  }
  return currentUrl.pathname.startsWith(path);
}
---

<div
  class="navbar bg-base-100 shadow-xs sticky top-0 z-50 border-b border-base-300"
>
  <div class="container mx-auto max-w-screen-md flex">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost md:hidden pl-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-lg min-w-max dropdown-content bg-base-100 z-10 mt-3 p-2 shadow"
        >
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/projects/">Projects</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/testimonials/">Testimonials</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center space-x-2">
        <a
          href="/"
          class="btn btn-ghost text-xl px-0 box-content aspect-square"
        >
          <Image src={Logo} alt="Code With Tom" />
        </a>
        <div class="font-bold whitespace-nowrap inline-block">
          Code With Tom
        </div>
      </div>
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal space-x-2">
        <li>
          <a
            href="/"
            class={`btn btn-sm font-bold text-sm ${isActive("/") ? "btn-primary" : ""}`}
            >Home</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class={`btn btn-sm font-bold text-sm ${isActive("/projects") ? "btn-primary" : ""}`}
            >Projects</a
          >
        </li>
        <li>
          <a
            href="/blog"
            class={`btn btn-sm font-bold text-sm ${isActive("/blog") ? "btn-primary" : ""}`}
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/about"
            class={`btn btn-sm font-bold text-sm ${isActive("/about") ? "btn-primary" : ""}`}
            >About</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <a
        href="https://buymeacoffee.com/codewithtom"
        class="btn btn-sm btn-warning font-bold text-sm">Donate</a
      >
    </div>
  </div>
</div>
