---
import Image from "astro/components/Image.astro";
import Logo from "../assets/images/codewithtom-color.png";
import Hero from "../assets/images/hero.png";
---

<div class="navbar bg-base-100 shadow-xs">
  <div class="container mx-auto max-w-screen-lg flex">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost md:hidden pl-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 p-2 shadow"
        >
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center space-x-2">
        <a
          href="/"
          class="btn btn-ghost text-xl px-0 box-content aspect-square"
        >
          <Image src={Logo} alt="Code With Tom" />
        </a>
        <div class="font-bold whitespace-nowrap inline-block">
          Code With Tom
        </div>
      </div>
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal space-x-2">
        <li>
          <a href="/" class="btn btn-sm btn-accent font-bold text-sm">Home</a>
        </li>
        <li>
          <a href="/projects/" class="btn btn-sm font-bold text-sm">Projects</a>
        </li>
        <li>
          <a href="/blog/" class="btn btn-sm font-bold text-sm">Blog</a>
        </li>
        <li>
          <a href="/about/" class="btn btn-sm font-bold text-sm">About</a>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-sm btn-accent font-bold text-sm">Donate</a>
    </div>
  </div>
</div>
