---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/baloo-2";

import "../assets/app.css";

const pageTitle = Astro.props.pageTitle;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RF7BHC3RER"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RF7BHC3RER");
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <div class="container mx-auto max-w-screen-md p-4 md:p-0">
      <slot />
    </div>
    <Footer />
  </body>
</html>
