---
import Section from "../components/Section.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="breadcrumbs text-sm font-semibold">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="text-purple-400">
        <a href={"/" + frontmatter.type}>{frontmatter.type}</a>
      </li>
      <li class="text-purple-600">
        {frontmatter.title || frontmatter.company}
      </li>
    </ul>
  </div>
  <Section
    title={frontmatter.title || frontmatter.author}
    description={frontmatter.description || frontmatter.company}
  >
    <div class="article-detail mt-8">
      <slot />
    </div>
  </Section>
</BaseLayout>
